.weather-container {
  border: 1px ridge #d59387;
  border-radius: 9px;
  padding: 20px 20px 0 20px;
  max-width: 580px;
  color: whitesmoke;
  margin: 0 auto;
  margin-top: 40px;
  background: linear-gradient(#855b5a, #ab7474);
}
