.wind-condition-time {
  position: relative;
  top: -120px;
  text-align: right;
  margin: 0 auto;
  padding-left: 318px;
}
.wind-condition-time h3 {
  font-size: 42px;
}

.condition {
  font-size: 17px;
}
